{{#if error}}
<p>{{error}}</p>
{{/if}}
<p>Please enter your pgone number to recieve a V code:</p>
<form method="post" action="/step2">
<input type="tel" name = "number"/>
<input type="submit" value="Send code"/> 
</form>